<div>
    <h2 translate="appturApp.servicios.home.title">Servicioss</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="servicios.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="appturApp.servicios.home.createLabel">Create new Servicios
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="codigo"><span translate="appturApp.servicios.codigo">Codigo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="siti.nombre"><span translate="appturApp.servicios.siti">siti</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="servicios in servicioss track by servicios.id">
                    <td><a ui-sref="servicios.detail({id:servicios.id})">{{servicios.id}}</a></td>
                    <td>{{servicios.codigo}}</td>
                    <td>
                        <a ui-sref="sitios.detail({id:servicios.siti.id})">{{servicios.siti.nombre}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="servicios.detail({id:servicios.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="servicios.edit({id:servicios.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="servicios.delete({id:servicios.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
